* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

h1 {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

span {
    font-size: 1.2rem;
}

label {
    font-size: 1.3rem;
    font-weight: 500;
}

p {
    font-size: 1.3rem;
}

button {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 2px 12px;
    border: 1px solid #0077b6;
    color: white;
    background: #1973e9;
    border-radius: 4px;

    &:hover {
        background: #005bb5;
        box-shadow: 0 0 4px grey;
    }

    &.close {
        background: red;
        border: 1px solid darkred;
    }

    &.table-button {
        background: none;
        border: none;

        &:hover
        {
            background: none;
            box-shadow: none;
        }
    }
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.ico {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dashboard-content {
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: start;
}
